{% extends 'main/base_template.html' %}
{% load static %}
{% block content %}

<!-- body-start -->
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="bradcam_text">
                    {% for message in messages %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <h3>Log in</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="catagory_area">
    <div class="container">
        <div class="justify-content-center col-lg-6 offset-lg-3 text-center">
            <h3 class="mb-30">Enter your information</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mt-10">
                    <input type="text" name="{{ form.username.name }}" placeholder="Username"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required
                           class="single-input">
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-10">
                    <input type="password" name="{{ form.password.name }}" placeholder="Password"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                           class="single-input">
                    {% if form.password.errors %}
                    {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-10">
                    {{ form.non_field_errors }}
                </div>
                <div class="button-group-area mt-40">
                    <input type="submit" class="genric-btn boxed-btn3" value="Log in">
                </div>
                <p class="mt-10">Don’t have an account? <a href="{% url 'registration' %}">Sign up</a></p>
                <p class="mt-10">Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a></p>

            </form>

        </div>
    </div>
</div>
<!-- body-end -->

{% endblock %}