{% extends 'main/base_template.html' %}
{% load static %}
{% block content %}

<!-- body-start -->
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Reset password</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="catagory_area">
    <div class="container">
        <div class="justify-content-center col-lg-6 offset-lg-3 text-center">
            <h3 class="mb-30">Enter your information</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mt-10">
                    <input type="email" name="{{ form.email.name }}" placeholder="Email address"
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                           class="single-input" value="{% if form.email.value %}{{form.email.value}}{% endif %}">
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-10">
                    {{ form.non_field_errors }}
                </div>
                <div class="button-group-area mt-40">
                    <input type="submit" class="genric-btn boxed-btn3" value="Reset">
                </div>
            </form>

        </div>
    </div>
</div>
<!-- body-end -->

{% endblock %}