{% extends 'main/base_template.html' %}
{% load static %}
{% block content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{ job.name }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb">
                                <img src="{{ job.company_logo.url }}" alt="" style="width: 100%; height: 100%">
                            </div>
                            <div class="jobs_conetent">
                                <h4>{{ job.name }}</h4>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p><i class="fa fa-map-marker"></i> {{ job.location }}</p>
                                    </div>
                                    <div class="location">
                                        <p><i class="fa fa-clock-o"></i> {{ job.job_nature }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                            <div class="apply_now">
                                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Job description</h4>
                        {{ job.description }}
                    </div>
                    <div class="single_wrap">
                        <h4>Responsibility</h4>
                        <ul>
                            {{ job.responsibility }}
                        </ul>
                    </div>
                    <div class="single_wrap">
                        <h4>Qualifications</h4>
                        <ul>
                            {{ job.qualification }}
                        </ul>
                    </div>
                    <div class="single_wrap">
                        <h4>Benefits</h4>
                        {{ job.benefits }}
                    </div>
                    <div class="submit_btn">
                        {% if is_employer %}


                        <!-- Button trigger modal -->
                        <button type="button" class="btn genric-btn danger radius w-100" data-toggle="modal"
                                data-target="#staticBackdrop">
                            Delete this job
                        </button>
                        <!-- Модальное окно -->
                        <div class="modal" id="staticBackdrop" data-backdrop="false" data-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Заголовок модального окна</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        You are going to delete this job. Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="genric-btn default radius" data-dismiss="modal">
                                            Закрыть
                                        </button>
                                        <a href=""><button type="button" class="btn genric-btn danger radius">Удалить</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif not applied %}
                        <a href="{% url 'job_apply' job.pk %}">
                            <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                        </a>
                        {% else %}
                        <a href="" class="genric-btn w-100 disable radius">You are already applied for this job</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>{{ job.company_name }}</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Published on: <span>{{ job.published_date }}</span></li>
                            <li>Vacancy: <span>{{ job.positions_number }} Position</span></li>
                            <li>Salary: <span>{{ job.salary_from }}k - {{ job.salary_to }}k/y</span></li>
                            <li>Location: <span>{{ job.location }}</span></li>
                            <li>Job Nature: <span> {{ job.job_nature }}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="share_wrap d-flex">
                    <span>Share at:</span>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"> <i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


