{% extends 'main/base_template.html' %}
{% load static %}
{% block content %}
{% load countries %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Post a job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="job_details_area justify-content-center col-lg-6 offset-lg-3 bg-white">
    <div class="apply_job_form white-bg">
        <h4 class="text-center">Job information</h4>
        <form id="job_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="input_field">
                    <input type="text" placeholder="Job name" name="{{ form.name.name }}" required>
                </div>
                {% if form.name.errors %}
                {% for error in form.name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="row col-md-12">
                <p class="col-md-2">Category: </p>
                <div class="default-select col-md-1" id="category-select">
                    {{ form.category }}
                    {% if form.category.errors %}
                    {% for error in form.category.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div> <br>
            <div class="col-md-12">
                <div class="input_field">
                    <textarea name="{{ form.description.name }}" cols="30" rows="10" placeholder="Description"
                              required></textarea>
                </div>
                {% if form.description.errors %}
                {% for error in form.description.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="input_field">
                    <textarea name="{{ form.responsibility.name }}" cols="30" rows="10" placeholder="Responsibility"
                              required></textarea>
                </div>
                {% if form.responsibility.errors %}
                {% for error in form.responsibility.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="input_field">
                    <textarea name="{{ form.qualifications.name }}" cols="30" rows="10" placeholder="Qualifications"
                              required></textarea>
                </div>
                {% if form.qualifications.errors %}
                {% for error in form.qualifications.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="input_field">
                    <textarea name="{{ form.benefits.name }}" cols="30" rows="10" placeholder="Benefits"
                              required></textarea>
                </div>
                {% if form.benefits.errors %}
                {% for error in form.benefits.errors %}
                <p>{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="row col-md-12">
                <p class="col-md-2">Positions: </p>
                <div class="default-select col-md-1" id="default-select">
                    <select form="job_form" name="{{ form.positions_number.name }}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    {% if form.positions.errors %}
                    {% for error in form.positions.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <br>
            <p class="col-md-12">{{ form.salary_to.help_text }}</p>

            <div class="row col-md-12">
                <p class="col-md-2">Salary: </p>
                <div class="col-md-3 mb-2">
                    <div class="input_field">
                        <input type="number" placeholder="from" name="{{ form.salary_from.name }}">
                    </div>
                    {% if form.salary_from.errors %}
                    {% for error in form.salary_from.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3 mb-2">
                    <div class="input_field">
                        <input type="number" placeholder="to" name="{{ form.salary_to.name }}">
                    </div>
                </div>
                {% if form.salary_to.errors %}
                {% for error in form.salary_to.errors %}
                <p class="col-md-12">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="input_field" id="default-select3">
                    <input type="text" placeholder="Location" name="{{ form.location.name }}" list="countries" required>
                    {% get_countries as countries %}
                    <datalist id="countries">
                        {% for country in countries %}
                        <option value="{{ country.name }}">
                            {% endfor %}
                    </datalist>
                    {% if form.location.errors %}
                    {% for error in form.location.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row col-md-12">
                <p class="col-md-4">Job nature: </p>
                <div class="default-select col-md-1" id="default-select2">
                    <select form="job_form" name="{{ form.job_nature.name }}">
                        <option value="Full-time">Full-time</option>
                        <option value="Part-time">Part-time</option>
                        <option value="Casual work">Casual work</option>
                        <option value="Temporary work">Temporary work</option>
                        <option value="Working from home">Working from home</option>
                        <option value="Portfolio work">Portfolio work</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="submit_btn">
                    <button class="boxed-btn3 w-100" type="submit">Post</button>
                </div>
            </div>
    </div>

</div>


</div>
</form>
</div>
</div>


{% endblock %}